<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from 166.az/login by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Nov 2022 19:35:36 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">

    <title>166</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="site/img/Logoab11.png?v=1574778128">
    <link rel="manifest" href="404.html">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="site/img/Logoab11.png?v=1574778128">

    <meta name="theme-color" content="#000">

    <link href="../use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" />

    <link href="../maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="~/css/app.mind5a8.css?v=1666717503">
    <link rel="stylesheet" href="~/css/tempus-dominusc433.css?v=1659073936" />
</head>

<body id="body">


    <main class="login">
        <div class="login-left">
            <header class="header-container">
                <a asp-route="admin-home-index">
                    <img src="~/img/Logoab11.png?v=1574778128" alt="166">
                </a>
            </header>
            <section class="login-post">
                <div class="login-post--item">
                    <h1>Geniş həcmli, hər yükə uyğun depolarımızda yükünüzü saxlaya bilərsiniz.</h1>
                    <a href="index.html">Ətraflı bax</a>
                </div>
            </section>
        </div>
        <div class="login-right">
            <header>
                <div class="login-right__header">
                    <p>Hesabınız yoxdur?</p>
                    <a asp-route="client-auth-register">QEYDİYYATDAN KEÇ</a>
                </div>
            </header>
            <h2 class="title-login">Daxil ol</h2>
            <section class="login-right__content customer">
                <form method="POST" action="https://166.az/az/login">
                    <input type="hidden" name="_token" value="4aKlqwlXwd7b9RU5R23Kv6G6YEKsZgsl2q2JiJUt">                                        <div class="form-row">
                        <label>Email ünvanı və ya nömrə</label>
                        <input type="text" placeholder="Email ünvanı və ya nömrə" name="email" value="" autofocus>
                    </div>
                    <div class="form-row">
                        <label>Şifrə</label>
                        <div class="form-row__password">
                            <input type="password" name="password" placeholder="********************">
                            <i class="fas fa-eye"></i>
                        </div>
                    </div>
                    <div class="form-row form-fp">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        <span>Yadda saxla</span>
                        <a href="forgot-password0c24.html?locale=az" class="link-fp">
                            Şifrəni unutmusan?
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                    <button type="submit">DAXİL OL</button>
                </form>
            </section>
        </div>
    </main>


    <script src="../code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="site/js/common22d6.js?v=1611567991"></script>

</body>

<!-- Mirrored from 166.az/login by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Nov 2022 19:35:36 GMT -->
</html>

